# Ignore Jupyter Notebooks and their checkpoints
*.ipynb
.ipynb_checkpoints/
**/*.ipynb

# Ignore the local data directory
data/

# --- Senior Engineer Bonus (Standard Python Exclusions) ---
# Ignore local environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Git history (saves a lot of space!)
.git/
.gitignore

# Ignore local virtual environments
.venv/
env/